<hr class="">
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
             <h1 class=""><%= @user.name %></h1>
         
        </div>
      <div class="col-sm-2"><%= cl_image_tag(@user.image_url, :crop => :crop, :gravity => :face, :height => 200)  %>

        </div>
    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span> <%= @user.created_at %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span>  <%= @user.last_sign_in_at %></li>
                
            </ul>
        
     
          
            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i>

                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Shares</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Likes</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Posts</strong></span> 37</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Followers</strong></span> 78</li>
            </ul>
            
        </div>
        <!--/col-3-->
        <div class="col-sm-9" contenteditable="false" style="">
            <div class="panel panel-default">
              <div class="panel-heading"><%= @user.name %>'s Bio</div>
              <div class="panel-body"><%= @user.bio %></div>

                </div>
            
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Products Listed</div>
                <div class="panel-body">
                  <div class="row">
                    <% @user.items.each do |item| %>  
                      <div class="col-sm-4">
                        <div class="product-image-wrapper">
                          <div class="single-products">
                              <div class="productinfo text-center">
                                <%= link_to cl_image_tag(item.image_url(:thumbnail)), item %>
                                <h2>$<%= item.price %></h2>
                                <p><%= item.name %></p>

                              </div>

                          </div>
                          <div class="choose">
                            <ul class="nav nav-pills nav-justified">
                              <li><%= link_to 'Edit', edit_item_path(item) %></li>
                              <li><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    <% end %>
                    
                    
                  </div>
                </div>     
            </div>
                 
        </div>
              
    </div>
          


            <div id="push"></div>
        </div>
