

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<div class="container">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-signin">
        <h2 class="form-signin-heading">Forgot your password?</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <%= f.email_field :email, autofocus: true, class:"form-control" ,  placeholder:"Email address", required:"true" %>
            <br>
       <%= f.submit "Send me reset password instructions" , class:"btn btn-lg btn-primary btn-block"%>
      </form>
      <%= render "devise/shared/links" %>
   </div>
  </div> <!-- /container -->
  
<% end %>

<br><br><br><br><br><br><br><br>
