 <%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-signin">
        <h2 class="form-signin-heading">List a new product</h2>
        <label for="inputEmail" class="sr-only">Name</label>
        <%= f.text_field :name , class:"form-control" ,  placeholder:"Item name", required:"true"%>
        <br>
        <label for="inputPassword" class="sr-only">Description</label>
        
        <%= f.text_area :description , class:"form-control" ,  placeholder:"Item description", required:"true"%>
       <br>
        <label for="inputPassword" class="sr-only">Price</label>
        <%= f.text_field :price, class:"form-control" ,  placeholder:"Item price", required:"true" %>
        <br>
        <label for="inputPassword" class="sr-only">Image</label>
        <%= f.file_field :image, class:"btn btn-default" %>
        <br>
        <%= f.submit "List this Item",  class:"btn btn-lg btn-primary btn-block" %>
      </form>
      
   </div>
  
  </div> <!-- /container -->

<% end %>
<br><br><br><br><br><br><br><br><br>