<% @items.each do |item| %>  
            <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
                      <%= link_to cl_image_tag(item.image_url(:thumbnail)), item %>
											<h2>$<%= item.price %></h2>
											<p><%= item.name %></p>
											<%= link_to 'New Item', new_item_path,  class:"btn btn-default add-to-cart" %>
										</div>
										
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><%= link_to 'Edit', edit_item_path(item) %></li>
										<li><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></li>
									</ul>
								</div>
							</div>
						</div>
	        <% end %>